@{
    ViewData["Title"] = "Atenção!";
}

<h1 class="row justify-content-md-center">ACESSO NEGADO</h1>
<p class="text-danger" style="font-weight: bold;">É necessário nível de administrador!</p>

<a href="/Home/Index"><button class="btn btn-primary mb-2">Voltar</button></a>
 